{% extends "shablon.html" %}

{% block title %}
    Three persons
{% endblock %}

        {% block content %}

    <div class="card">
       <div class="photo">
           <img src="../static/photo/fatane-rahimi-Agv-xPQBO60-unsplash.jpg">
       </div>

       <div class="info">
            <h3>Сидорова Александра Павловна</h3>
            <p><strong>Email:</strong> sidorova@example.com</p>
            <p><strong>Дата рождения:</strong> 07.02.1992</p>
            <p><strong>Город:</strong> {{city}} </p>
       </div>
    </div>

    <div class="card">
       <div class="photo">
           <img src="../static/photo/fatane-rahimi-jyUgPZ-JXE8-unsplash.jpg">
       </div>

       <div class="info">
            <h3>Петрова Анна Сергеевна</h3>
            <p><strong>Email:</strong> petrova@example.com</p>
            <p><strong>Дата рождения:</strong> 23.09.1985</p>
            <p><strong>Город:</strong> Санкт-Петербург</p>
       </div>
    </div>

    <div class="card">
       <div class="photo">
           <img src="../static/photo/pavel-kosov-nLNguQNxLAE-unsplash.jpg">
       </div>

       <div class="info">
            <h3>Иванов Иван Иванович</h3>
            <p><strong>Email:</strong> ivanov@example.com</p>
            <p><strong>Дата рождения:</strong> 12.05.1990</p>
            <p><strong>Город:</strong> Москва</p>
       </div>
    </div>

        {% endblock %}

